{% if page.bigimg or page.title %}
<header class="header-section">
<div class="intro-header no-img">
  <div class="container blackbox">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <h1>{% if page.meta-title %}{{ page.meta-title }}{% else %}<br/>{% endif %}</h1>
        <hr class="small">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <span class="header-section-description">> Hello! My name is Nikhil</span> <br/>
          <span class="header-section-description">> This is my digital log</span> <br/>
    		  {% if include.type == "post" %}
    		    <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
  		  {% endif %}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</header>

{% else %}
<div class="intro-header"></div>
{% endif %}
